# Pandas Basics <hr style="border:3px solid #B57EDC"></hr>

Data Analyst: Issabern Martij Ever A. Casio <br>
Department: Electrical Engineering

# Data Frame

In [1]:
import pandas as pd

In [7]:
data = {
    "name":['Henry','Owen','Ada'],
    "age":[22, 35, 58],
    "sex":['M', 'M', 'F']
}
data

{'name': ['Henry', 'Owen', 'Ada'], 'age': [22, 35, 58], 'sex': ['M', 'M', 'F']}

In [27]:
df = pd.DataFrame(data)
df

    name  age sex
0  Henry   22   M
1   Owen   35   M
2    Ada   58   F

In [28]:
df['age']

0    22
1    35
2    58
Name: age, dtype: int64

In [29]:
df['age'].sum()

115

In [30]:
df['age'].mean()

38.333333333333336

In [31]:
df['age'].std()

18.230011885167087

In [11]:
Device = {
    "current": [2, 3.5, 1.8, 4.2, 2.7],
    "power": [100, 200, 90, 210, 110]
}
Device

{'current': [2, 3.5, 1.8, 4.2, 2.7], 'power': [100, 200, 90, 210, 110]}

In [12]:
df = pd.DataFrame(Device)
df

   current  power
0      2.0    100
1      3.5    200
2      1.8     90
3      4.2    210
4      2.7    110

In [14]:
df.cov()

         current    power
current    1.023    56.15
power     56.150  3370.00

In [24]:
df.corr()

          current     power
current  1.000000  0.956306
power    0.956306  1.000000

In [25]:
df.describe()

        current       power
count  5.000000    5.000000
mean   2.840000  142.000000
std    1.011435   58.051701
min    1.800000   90.000000
25%    2.000000  100.000000
50%    2.700000  110.000000
75%    3.500000  200.000000
max    4.200000  210.000000